@model POSSolution.Web.Models.Shop.ShopListViewModel;
@{
    ViewData["Title"] = "ShopListView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-home mr-1"></i>
        Danh Sách Cửa Hàng
        <div class="mt-2 d-inline-block">
            <div>
                <a class="btn btn-success" asp-action="ShowAddNewPage" asp-controller="Shop">
                    <i class="fas fa-plus mr-1"></i>
                    Thêm Mới
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Địa Chỉ</th>
                        <th>Hình Ảnh</th>
                        <th>Trạng Thái</th>
                        <th>Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var shop in Model.shops)
                    {
                        <tr>
                            <td>@shop.name</td>
                            <td>@shop.address</td>
                            <td>@shop.image</td>
                            <td>@shop.status</td>
                            <td>
                                <form>
                                    <div class="d-flex">
                                        <button class="btn btn-success mr-1">
                                            <i class="far fa-edit mr-1"></i>
                                            Sửa
                                        </button>
                                        <button class="btn btn-danger mr-1">
                                            <i class="far fa-trash-alt mr-1"></i>
                                            Xóa
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    }
                    <!--TODO: Add form for edit or delete user-->
                </tbody>
            </table>
        </div>
    </div>
</div>